<div class="lp-element ..." id="...">
    <div id="lp-pom-box-...-color-overlay"></div>
    <div class="lp-element lp-pom-text ..." id="..." style="height: auto;">
        <ul class="trade">
            <li>&nbsp;Forex</li>
        </ul>
        <ul class="chart">
            <li>&nbsp;Forex</li>
            <li>&nbsp;Stock</li>
            <li>&nbsp;Crypto</li>
            <li>&nbsp;ETF</li>
        </ul>
    </div>
</div>