<div class="lp-element ..." id="...">
    <ul class="starbox intro_bullets blue">
        <li class="white"><span
                style="font-family: Montserrat; font-weight: 400; font-style: normal; font-size: 1rem; color: rgb(46, 46, 46);">Find
                Market Opportunities<span class="widont">&nbsp;</span>Faster</span></li>
        <li class="white"><span style="color: rgb(46, 46, 46);"><span><span
                        style="font-family: Montserrat; font-weight: 400; font-style: normal;">Save Time Using
                        Automated Tools and Real-Time Alerts<br></span></span></span></li>
        <li class="white"><span style="color: rgb(46, 46, 46);"><span><span
                        style="font-family: Montserrat; font-weight: 400; font-style: normal;">Connect your Broker
                        and Trade Live</span></span></span><span style="color: rgb(255, 255, 255);"><span><span
                        style="font-family: Montserrat; font-weight: 400; font-style: normal;"><br></span></span></span>
        </li>
    </ul>
</div>